ion-card{
  border-top: #1eb5c6 3px solid;
  border-left: #1eb5c6 3px solid;
  border-right: #1eb5c6 3px solid;
  border-bottom: #1eb5c6 3px solid;
  border-radius: 30px;
}
.title1{
  font-size: 15px;
  color: black;
}
ion-searchbar {
  border-radius: 30px;
  border-collapse: collapse;
  --icon-color: #1eb5c6;
  --box-shadow: #e3e3e3 solid;
}
.line {
  background-color: #ffffff;
  border-bottom: #1eb5c6 2px solid;
  border-top: #1eb5c6 2px solid;
}

