<ion-header>
    <ion-toolbar color="secondary">
        <ion-title>Estadísticas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <br>

    <ion-card>
    <h1 class="parr">Producción de energía</h1>
        <ion-card-content>
            <canvas id="chart"></canvas>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <h1 class="parr">Consumo de energía</h1>
        <ion-card-content>
            <canvas id="chart2"></canvas>
        </ion-card-content>
    </ion-card>

</ion-content>
