<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Bases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Qué es la ONU?</ion-card-title>
    </ion-card-header>
    <ion-card-content style="align-items: center">
      Las Naciones Unidas nacieron oficialmente el 24 de octubre de 1945, después de que la mayoría de los 51 Estados Miembros signatarios del documento fundacional de la Organización, la Carta de la ONU, la ratificaran. En la actualidad, 193 Estados son miembros de las Naciones Unidas, que están representados en el órgano deliberante, la Asamblea General.
      ... <a href="https://www.un.org/es/sections/about-un/overview/index.html#:~:text=Las%20Naciones%20Unidas%20nacieron%20oficialmente,de%20la%20ONU%2C%20la%20ratificaran.&text=En%202020%2C%20la%20Organizaci%C3%B3n%20celebra%20su%2075%C2%BA%20aniversario.">Saber más</a>

       <ion-img style="width: 250px;height: 250px" src="/assets/ONU.jpg"></ion-img>

    </ion-card-content>


  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Objetivo 7</ion-card-title>
      <ion-card-subtitle>Garantizar el acceso a una energía asequible, segura, sostenible y moderna</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      El mundo está avanzando hacia la consecución del Objetivo 7 con indicios alentadores de que la energía se está volviendo más sostenible y ampliamente disponible. El acceso a la electricidad en los países más pobres ha comenzado a acelerarse, la eficiencia energética continúa mejorando y la energía renovable está logrando resultados excelentes en el sector eléctrico.
      A pesar de ello, es necesario prestar una mayor atención a las mejoras para...<a href="https://www.un.org/sustainabledevelopment/es/energy/" style="text-decoration: none;">
       Saber más
      </a>
      <ion-img src="/assets/7.PNG"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
