ion-card{
  border-top: #1eb5c6 1px solid;
  border-left: #1eb5c6 1px solid;
  border-right: #1eb5c6 1px solid;
  border-bottom: #1eb5c6 1px solid;
  border-radius: 30px;
}
.line {
  background-color: #ffffff;
  border-bottom: #1eb5c6 2px solid;
}
